@page "{RoleId}"
@model LearnWebsite.Web.Pages.Admin.Role.DeleteRoleModel
@using LearnWebsite.Data.Entities.Permission;
@{
    List<Permission> permissions = ViewData["Permission"] as List<Permission>;
    List<int> selectedPermissionFromDB = ViewData["SelectedPermissionFromDB"] as List<int>;
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">حذف نقش</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <form method="post">
            <div class="col-lg-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        اطلاعات نقش
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">

                        <div class="account-information">
                            <ul>
                                <li> <i class="zmdi zmdi-assignment-account"></i> عنوان نقش :  @Model.CurrentRole.RoleTitle </li>
                            </ul>
                        </div>
                        <input type="hidden" name="roleId" value="@Model.CurrentRole.RoleId.ToString()" />
                        <input type="submit" value="حذف نقش" class="btn btn-danger" />
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>

            <div class="col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        دسترسی نقش ها
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <ul>
                            @foreach (var permissionItem in permissions.Where(p => p.ParentId == null))
                            {
                                <li><input type="checkbox" disabled name="selectedPermission" value="@permissionItem.PermissionId" @((selectedPermissionFromDB.Any(p => p == permissionItem.PermissionId)) ? "checked" : "") /> @permissionItem.PermissionTitle </li>

                                @if (permissions.Any(p => p.ParentId == permissionItem.PermissionId))
                                {
                                    <ul>
                                        @foreach (var subPermissionItem in permissions.Where(p => p.ParentId == permissionItem.PermissionId))
                                        {
                                            <li><input type="checkbox" disabled name="selectedPermission" value="@subPermissionItem.PermissionId" @((selectedPermissionFromDB.Any(p => p == subPermissionItem.PermissionId)) ? "checked" : "") /> @subPermissionItem.PermissionTitle </li>

                                            @if (permissions.Any(p => p.ParentId == subPermissionItem.PermissionId))
                                            {
                                                <ul>
                                                    @foreach (var sub2PermissionItem in permissions.Where(p => p.ParentId == subPermissionItem.PermissionId))
                                                    {
                                                        <li><input type="checkbox" disabled name="selectedPermission" value="@sub2PermissionItem.PermissionId" @((selectedPermissionFromDB.Any(p => p == sub2PermissionItem.PermissionId)) ? "checked" : "") /> @sub2PermissionItem.PermissionTitle </li>
                                                    }
                                                </ul>
                                            }
                                        }
                                    </ul>
                                }
                            }
                        </ul>
                    </div>
                    <!-- /.panel-body -->
                </div>

            </div>
        </form>
    </div>
</div>