@page "{userId}"
@model LearnWebsite.Web.Pages.Admin.User.EditUserModel
@using LearnWebsite.Data.Entities.User
@{
    List<Role> Roles = ViewData["Roles"] as List<Role>;
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">ویرایش اطلاعات کاربر</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <form method="post" enctype="multipart/form-data">
            <div class="col-lg-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        اطلاعات کاربر
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="form-group">
                            <label>ایمیل</label>
                            <input type="email" asp-for="editUserViewModel.Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>کلمه عبور</label>
                            <input type="text" asp-for="editUserViewModel.Password" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>وضعیت</label><br />
                            <label>فعال</label>
                            <input type="radio" id="active" name="status" value="1" @((Model.editUserViewModel.IsActive)? "checked" : "")>
                            <label>غیرفعال</label>
                            <input type="radio" id="deActive" name="status" value="0" @((Model.editUserViewModel.IsActive)? "checked" : "")>
                        </div>
                        <div class="form-group">
                            <label>انتخاب نقش کاربر</label>

                            @foreach (var item in Roles)
                            {
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="SelectedRoles" value="@item.RoleId" @((Model.editUserViewModel.Roles.Any(rol => rol == item.RoleId)) ? "checked" : "")>@item.RoleTitle
                                    </label>
                                </div>
                            }


                        </div>
                        <input type="submit" value="ویرایش اطلاعات" class="btn btn-success" />
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        تصویر پروفایل
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <img id="imgAvatar" class="thumbnail" src="/UserAvatar/@Model.editUserViewModel.UserAvatar" />
                        <div class="form-group">
                            <label>انتخاب تصویر</label>
                            <input type="file" asp-for="editUserViewModel.Avatar">
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>

            </div>

        </form>
    </div>
</div>

@section Scripts
{
    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    $('#imgAvatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#CreateUserViewModel_Avatar").change(function() {
            readURL(this);
        });
    </script>
}